#overall.block.block-alt-style.full
  #sys-admin-links.block-content-full.rounded-title-container
    %table.titled-table.table.table-bordered.table-condensed.remove-margin
      %thead.table-title
        %tr
          %th= 'System Maintenance'
      %tbody.tbody-body.alternate-highlight
        %tr#system-alerts
          %td
            %a{href: announcements_path}
              %i.fa.fa-comment
              ='System Alerts'
        %tr#server-config
          %td
            %a{href: server_config_path(1)}
              ='Server Configuration'
            - if ServerConfig.all.count != 1
              %span.ui-error='ERROR'
        %tr#disciplines
          %td
            %a{href: disciplines_path}
              ='Academic Disciplines'
