
# important files to ignore for security/privacy reasons
/config/database.yml
/db/*.sqlite3*
/public/system/*
/shared/*

# important files to ignore because they are temporary files
/log/*.log
/public/assets/*
/tmp/*

# Ignore other unneeded files.
**/coverage
**/.bundle
**/chromedriver.log
**/Guardfile
**/nohup.out
**/.idea/
**/.sass-cache/
**/.DS_Store
**/*.swp
**/*~
**/.project
**/images/login_bg.png
