
- content_for(:title, 'User Maintenance - Student/Parent Security and Access')
- content_for(:page_name, 'User Maintenance - Student Security and Access')
- content_for(:page_class, 'misc')

.modal-message#modal-message
.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×

.modal-body#modal-body

  / Header
  .header-block
    .row
      .col-md-12
        %h1.h3.page-title.text-center
          %strong='User Maintenance'
        %h2.h1.page-title.text-center
          %strong='Student/Parent Security and Access'

  .row
    .col-md-12
      .block.block-alt-style.full
        .block-content-full.rounded-title-container
          %table.titled-table.table.table-condensed.remove-margin
            %thead.table-title
              %tr
                %th
                %th='Student'
                %th='Parent'
            %tbody
              %tr
                %td.text-right
                  %strong='Name:'
                %td=@student.full_name
                %td=@parent.full_name
              %tr
                %td.text-right
                  %strong='Sign In Count:'
                %td=@student.sign_in_count
                %td=@parent.sign_in_count
              %tr
                %td.text-right
                  %strong='Last Sign In At:'
                %td=@student.last_sign_in_at
                %td=@parent.last_sign_in_at
              %tr
                %td.text-right
                  %strong='Username:'
                %td=@student.username
                %td=@parent.username
              %tr
                %td.text-right
                  %strong='Temporary Password:'
                %td.student-temp-pwd{id: "user_#{@student.id}"}=render(partial: 'students/temporary_password', locals: {user: @student})
                %td.parent-temp-pwd{id: "user_#{@parent.id}"}=render(partial: 'parents/temporary_password', locals: {user: @parent})
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close


