- if user.temporary_password.present?
  %span.temp-pwd.nowrap.height-30
    = user.temporary_password
  %br
%span.reset-pwd.height-30
  = link_to 'Reset Password', set_student_temporary_password_student_path(user.id), remote: true, class: 'btn btn-xs btn-primary pointer-cursor'
