%div.dashboard
  %div
    %h3 Counselor Dashboard
    %ul#other_options
      %li= link_to "List All Students", students_path
      %li= link_to "Student Proficiency Bars", '/students/reports/proficiency_bar_chart'