
- content_for(:title, 'School Administrator Dashboard')
- content_for(:page_name, 'School Administrator Dashboard')
- content_for(:page_class, 'misc')
- content_for :layout_breadcrumbs do
  - breadcrumb :root # to ensure breadcrumbs always show
  - breadcrumb :school_admin_dashboard, @school_administrator
  = help_gen_breadcrumbs

/ Header
.header-block
  %h1.h3.page-title
    %strong='Dashboard'
  %h2.h1.page-title
    %strong="School Administrator: #{@school_administrator.full_name}"
  - si_time = (@school_administrator.current_sign_in_at.nil?) ? 'Never' : @school_administrator.current_sign_in_at.strftime('%d-%b-%Y %I:%M:%S %p')+' GMT'
  %span="(Latest signin time at: #{si_time})"

=render('schools/dashboard')
