
- content_for(:title, 'User Maintenance - Staff Security and Access')
- content_for(:page_name, 'User Maintenance - Staff Security and Access')
- content_for(:page_class, 'misc')

.modal-message#modal-message
.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×

.modal-body#modal-body

  / Header
  .header-block
    .row
      .col-md-12
        %h1.h3.page-title.text-center
          %strong='User Maintenance'
        %h2.h1.page-title.text-center
          %strong='Staff Security and Access'

  .row
    .col-md-12
      .block.block-alt-style.full
        .block-content-full.rounded-title-container
          %table.titled-table.table.table-condensed.remove-margin
            %thead.table-title
              %tr
                %th{colspan: 2}="#{@user.full_name}"
            %tbody
              %tr
                %td
                  .row
                    .col-md-5='Name:'
                    .col-md-7=@user.full_name
              %tr
                %td
                  .row
                    .col-md-5='Sign In Count:'
                    .col-md-7=@user.sign_in_count
              %tr
                %td
                  .row
                    .col-md-5='Last Sign In At:'
                    .col-md-7=@user.last_sign_in_at
              %tr
                %td
                  .row
                    .col-md-5='Username:'
                    .col-md-7=@user.username
              %tr
                %td{id: "user_#{@user.id}"}
                  .row
                    .col-md-5='Temporary Password:'
                    .col-md-7{id: "user_#{@user.id}_password"}=render(partial: 'users/temporary_password', locals: {user: @user})
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close


