- Rails.logger.debug("+++ user: #{user.inspect}")
- if user.temporary_password.present?
  %span.temp-pwd.nowrap.height-30
    = user.temporary_password
  %br
%span.reset-pwd.height-30
  = link_to 'Reset Password', set_temporary_password_user_path(user.id), remote: true, class: 'btn btn-xs btn-primary pointer-cursor'
  