
/ - content_for(:title, 'Enroll Student in Section')
/ - content_for(:page_name, 'Enroll Student in Section')
/ - content_for(:page_class, 'misc')

/ Header
#enroll_student
  .header-block
    .row
      .col-sm-1
      .col-sm-10
        %h1.h3.page-title.text-center
          %strong='Enroll Student in Section:'
        %h2.h1.page-title.text-center
          %strong
            =@section.name
            = ' - '
            =@section.line_number
      .col-sm-1

  .row
    .col-sm-1
    .col-sm-10
      .block.block-alt-style.full
        .block-title.text-center
          %h2
            ='Section Message'
        .block-content-full
          =form_for(@enrollment) do |f|
            =f.hidden_field :section_id, value: @section.id
            - @errors = @enrollment.errors
            .page-form
              - if @errors[:base] && @errors[:base] != []
                %div.ui-error.text-center=@errors[:base]
              %fieldset.input-group
                .col-sm-9
                  %select#enrollment_student_id{:chosen => "true", :name => "enrollment[student_id]"}
                    - @students.each do |s|
                      %option{value: s.id}
                        =s.full_name
                %span.ui-error.col-sm-3="#{@errors[:message] if @errors[:message].present?}"
              %fieldset.text-center
                %button.btn.btn-primary{name: 'commit', type: "submit"}='Enroll Student in Section'
    .col-sm-1
  .row
    .col-sm-1
    .col-sm-10
      %h4="Or, if your student isn't listed above:"
      .text-center
        %a#show-new-student.btn.btn-primary{href: 'javascript:void(0);'} Create Student in School
    .col-sm-1
  %br/
#new-student.row.display-none
  .col-sm-1
  .col-sm-10
    .block.block-alt-style.full
      .block-title.text-center
        %h2
          ='Add New Student'
      .block-content-full
        =form_for(@student, remote: true) do |f|
          - @errors = @student.errors
          .page-form
            = render 'students/form'
            %fieldset.text-center
              %button.btn.btn-primary{name: 'commit', type: "submit"}='Create New Student'
  .col-sm-1
