/ Header
.header-block
  .row
    .col-sm-1
    .col-sm-10
      %h1.h3.page-title.text-center
        %strong='Maintenance'
      %h2.h1.page-title.text-center
        %strong="Edit Section: #{@section.name} - #{@section.line_number}"
    .col-sm-1

.row
  .col-sm-12
    = render 'section_form'
