
- content_for(:title, 'Not Yet Proficient by Learning Outcome')
- content_for(:page_name, 'Not Yet Proficient By Learning Outcome')
- content_for(:page_class, 'generate-reports misc')
- content_for :layout_breadcrumbs do
  - breadcrumb :root # to ensure breadcrumbs always show
  - breadcrumb :rpt_nyp_lo, @section
  = help_gen_breadcrumbs

/ Header
.header-block
  %h1.h3.page-title
    %strong="Generate Reports"
  %h2.h1.page-title
    %strong="Not Yet Proficient by Learning Outcome"
  .row
    %a#filter-button.btn.btn-sm.btn-primary.deactivated.arrow-cursor{href: "javascript:void(0)"}
      %i.fa.fa-lg.fa-filter
    %a#print-button.btn.btn-sm.btn-primary{href: "javascript:void(0)"}
      %i.fa.fa-lg.fa-print
    %a#download-button.btn.btn-sm.btn-primary.deactivated.arrow-cursor{href: "javascript:void(0)"}
      %i.fa.fa-lg.fa-download
    %a#collapse-all-groups.btn.btn-sm.btn-primary{href: "javascript:void(0)"}
      %i.fa.fa-lg.fa-caret-right
    %a#expand-all-groups.btn.btn-sm.btn-primary{href: "javascript:void(0)"}
      %i.fa.fa-lg.fa-caret-down
  .row
    %table.table
      %thead
        %tr
          %th='Subject'
          %th='Sections'
          %th='Learning Outcomes'
      %tbody
        %tr
          %td=@section.name
          %td=@section.line_number
          %td='All'
.row
  .col-sm-12.col-lg-8
    .block.block-alt-style.full
      .block-title.text-center
        %h2
          %i.fa.fa-check
          ='NYP by Learning Outcome'
      .block-content-full
        #nyp-by-student.panel-group.expand-collapse-group
          - @section.section_outcomes.each do |so|
            - studs = so.students_by_rating("N")
            - if studs.count > 0
              .panel.panel-default
                .panel-heading.group-header.show-group.show-body
                  .panel-heading-sign=studs.count
                  %h4.panel-title
                    %a.toggle-group-body
                      %i.fa.fa-caret-right.fa-lg
                    %a.arrow-cursor{href: "javascript:void(0)"}
                      %strong=so.name
                #stud_123.group-body
                  .panel-body.remove-padding
                    %table.table.table-vcenter.remove-margin
                      %tbody
                        - studs.each do |st|
                          %tr
                            %td=st[:first_name]+' '+st[:last_name]
  .col-sm-0.col-lg-4
