
- content_for(:title, 'Researcher Dashboard')
- content_for(:page_name, 'Researcher Dashboard')
- content_for(:page_class, 'misc')
- content_for :layout_breadcrumbs do
  - breadcrumb :root # to ensure breadcrumbs always show
  - breadcrumb :researcher_dashboard, @researcher
  = help_gen_breadcrumbs

/ Header
.header-block
  %h1.h3.page-title
    %strong='Dashboard'
  %h2.h1.page-title
    %strong="#{@researcher.full_name}"
  - si_time = (@researcher.current_sign_in_at.nil?) ? 'Never' : @researcher.current_sign_in_at.strftime('%d-%b-%Y %I:%M:%S %p')+' GMT'
  %span="(Latest signin time at: #{si_time})"
.header-block
  - if @current_school.id.nil?
    %h2.h1.page-title.text-center
      %strong.red="Please Choose a School"
  - else
    %h2.h1.page-title
      %strong="School Listing"
=render('schools/listing')