-# to be used to develop rollover handling
- @subject_rpt.each do |row|
  %table.sub-titled-table.table.table-bordered.table-condensed.remove-margin
    %thead.table-title
      %tr
        %th='Discipline'
        %th='Subject'
        %th='Errors'
    %tbody
      %tr
        %td=row[:discipline]
        %td=row[:subject]
        %td=row[:error_str]

  %table.sub-titled-table.table.table-bordered.table-condensed.remove-margin
    %thead.table-sub-title
      %tr
        %th='LO Name'
        %th='LO MP'
        %th='Errors'
    %tbody
      - row[:subject_outcomes].each do |so|
        %tr
          %td=so[:lo_name]
          %td=so[:lo_mp]
          %td=so[:error_str]
