
#school-details.div.show-label-value
  .row
    %span.col-sm-6.control-label='Name:'
    %span#school-name.col-sm-6.value=@school.name
  .row
    %span.col-sm-6.control-label='Acronym:'
    %span#school-acronym.col-sm-6.value=@school.acronym
  .row
    %span.col-sm-6.control-label='City / Town:'
    %span#school-city.col-sm-6.value=@school.city
  - if can? :see_school_flags, @school
    .row
      %span.col-sm-6.control-label='Marking Periods:'
      %span#school-marking-periods.col-sm-6.value=@school.marking_periods
    .row
      %span.col-sm-6.control-label='Use Family Name:'
      %span#school-use-family-name.col-sm-6.value=@school.has_flag?(School::USE_FAMILY_NAME)
    .row
      %span.col-sm-6.control-label='Names by First, Last/Family:'
      %span#school-sort-by.col-sm-6.value=@school.has_flag?(School::USER_BY_FIRST_LAST)
    .row
      %span.col-sm-6.control-label='Grade in Subject Name:'
      %span#school-grade-in-subject.col-sm-6.value=@school.has_flag?(School::GRADE_IN_SUBJECT_NAME)
    .row
      %span.col-sm-6.control-label='Username from email:'
      %span#username-from-email.col-sm-6.value=@school.has_flag?(School::USERNAME_FROM_EMAIL)
  - if @school.school_year.present?
    .row
      %span.col-sm-6.control-label='Start Date:'
      %span#school-year-start.col-sm-6.value="#{@school.school_year.start_mm}-#{@school.school_year.start_yyyy}"
    .row
      %span.col-sm-6.control-label='End Date:'
      %span#school-year-end.col-sm-6.value="#{@school.school_year.end_mm}-#{@school.school_year.end_yyyy}"
  - else
    .row
      %span.col-sm-6.control-label='Start Date:'
      %span#school-year-start.col-sm-6.value="missing"
    .row
      %span.col-sm-6.control-label='End Date:'
      %span#school-year-end.col-sm-6.value="missing"
