
- content_for(:title, 'School Listing')
- content_for(:page_name, 'School Listing')
- content_for(:page_class, 'misc')
- content_for :layout_breadcrumbs do
  - breadcrumb :root # to ensure breadcrumbs always show
  - breadcrumb :school_listing
  = help_gen_breadcrumbs

/ Header
.header-block
  %h1.h3.page-title
    %strong="Maintenance"
  %h2.h1.page-title
    %strong="School Listing"

.block-section.indent-block
  .row.height-30
    .pull-left
      %a.btn.btn-sm.btn-primary{href: "javascript:void(0)"}
        %i.fa.fa-lg.fa-print
      %a.btn.btn-sm.btn-primary.deactivated.arrow-cursor{href: "javascript:void(0)"}
        %i.fa.fa-lg.fa-download
      - if can? :create, School
        %a#add-school.btn.btn-sm.btn-primary{data: {target: "#modal_popup", toggle: 'modal', url: new_school_path(format: :js)}}
          %i.fa.fa-lg.fa-plus-square

=render('schools/listing')