
- content_for(:title, 'School')
- content_for(:page_name, 'School')
- content_for(:page_class, 'misc')
- content_for :layout_breadcrumbs do
  - breadcrumb :root # to ensure breadcrumbs always show
  - breadcrumb :school_dashboard, @school
  = help_gen_breadcrumbs

/ Header
.header-block
  %h1.h3.page-title
    %strong=''
  %h2.h1.page-title
    %strong="School: #{@school.name}"
