
- content_for(:title, 'Edit Evidence')
- content_for(:page_name, 'Edit Evidence')
- content_for(:page_class, 'add-edit-evidence')

%h1.text-center= "Edit Evidence"
= render 'evidences/add_edit_form'
