%tr.header-row.height-30{data: {student_id: student_id}}
  %td
    %a{href: "#{user_path(student_id)}"}
      .user-full-name=name
  %td=''
  - @attendance_types.each do |at|
    %td.centered{data: {type_id: at.id}}=''
  - if deact_column == 1
    %td.centered{data: {type_id: 9999999}}=''
