%tbody.tbody-header.show-tbody.show-tbody-body
  %tr.height-30{data: {student_id: student_id}}
    %td
      .clearfix
        %a.toggle-tbody.pull-left{href: "javascript:void(0)"}
          %i.fa.fa-caret-down.fa-lg
        %strong.pull-left.lmargin5=xid
    %td
      %a{href: "#{student_path(student_id)}"}
        .user-full-name=name
    - @attendance_types.each do |at|
      %td.centered{data: {type_id: at.id}}=by_type[at.id]
    - if deact_column == 1
      %td.centered{data: {type_id: 9999999}}=by_type[9999999]
%tbody.tbody-body
