%tr.height-30{data: {student_id: attendance.user_id, date: attendance.attendance_date, section_id: attendance.section_id}}
  %td
    .attendance-date=attendance.attendance_date
  %td
    .attendance-section="#{attendance.section.name} - #{attendance.section.line_number}"
  - @attendance_types.each do |at|
    %td.centered{data: {type_id: at.id}}=by_type[at.id] if by_type[at.id] > 0
  - if deact_column == 1
    %td.centered{data: {type_id: 9999999}}=by_type[9999999]
