- breadcrumb :root # to ensure breadcrumbs always show
- breadcrumb :gradebook, 'Gradebook' # dummy breadcrumb
= breadcrumbs(style: :bootstrap, pretext: 'You are here: ', class: 'breadcrumb breadcrumb-top', display_single_fragment: true, link_current: true)